.btn-modal {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
  margin: 0.5em;
  color: grey;
  background-color: white;
  padding: 0.5em;
  text-align: center;
  margin: 0 40%;
}

.btn-modal:focus {
  outline: none;
}
