@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans';
  padding:0;
  margin:0;
  max-width: 100vw;
}
.hidden{
  display:none;
}

a{
  text-decoration: none;
  color: inherit;
 
}

.spouseVisible{
  display:block;
}
h2{
  text-align: center;
}
.container {
  display: grid;
  grid-template-rows: 2fr 2fr;
  margin-bottom: 3rem;
}

.singleUser {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  border-bottom: 1px solid #d8dbe2ba;
}
.singleUser p{
  text-transform: capitalize;
}
.singleUser a{
  text-decoration: none;
}

main{
  margin:0 10vw;
}

header {
  padding: 0 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #022B3A;
  color: white;
  box-shadow: 1px 5px 10px rgba(0,0,0,.3);
}

.menu-right {
  justify-self: right;
}

.menu-right a {
  color: white;
  text-decoration: none;
  padding: 0 2rem;
}

form{
  width: 400px;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr;
}
.form-field{
  display: grid;
  grid-template-columns: 1fr;
  margin: .5rem;
}
.form-field label{
  visibility: hidden;
  transform: translateY(-35px);
  transition: all .1s;
  padding-left: 8px;
}
.form-field input:not(:placeholder-shown) + label,
.form-field select:not(:invalid) + label
{
  transform: translateY(0);
  visibility: visible;
}
input[type=submit]{
  background:#E15554;
  box-shadow: 1px 5px 10px rgba(0,0,0,.3);
  color:white;
  border:none;
  margin:1rem;
}
select:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.labelRadio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.labelRadio label{
  padding:10px;
  border-radius: 10px;
  border: none;
  color: white;
  background:#1F7A8C;
  box-shadow: 1px 5px 10px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  margin: 1rem;
}
.labelRadio input{
  display: none;
}
input:checked+label{
  background:#185d6b;
  transform: scale(1.05);
}
input, select{
  padding:10px;
  border-radius: 10px;
  border: 1px solid #d8dbe2ba;
  outline: none;
  transition: all .2s;
}
button, .loginBtn, .editBtn{
  padding:.5rem 1rem;
  border-radius: 10px;
  margin: auto 0;
  background: #1F7A8C;
  border: none;
  color: white;
  box-shadow: 1px 5px 10px rgba(0,0,0,.3);
  text-align: center;
}

a.active{
  text-decoration: underline;
}


/*  FILTERS AND SEARC */
.searchBar{
  display: grid;
  grid-template-columns: 1fr .25fr;
}
.searchBar>div{
  display: grid;
  grid-template-columns: 1fr .2fr;
  border: 1px solid #d8dbe2ba;
  border-radius: 10px;
  width: 100%;
  margin:auto;
}
.clearSearchBtn{
  display: none;
  margin:auto;  
}
.searchBar input{
  width:100%;
  border:none;
}
.searchBtn{
  margin:none;
  height:100%;
  width:100%;
  border:none;
  border-radius: 0 10px 10px 0;
}
.filtersContainer{
  transition: all .2s;
  max-height: 0;
  overflow: hidden;
  width:auto;
  display:grid;
  grid-template-columns: 2fr .6fr;
  margin:1rem;
}
.filtersContainer form{
  width:auto;
  margin:0;
  align-content: start;
}
.filtersContainer h3{
  margin-bottom: 0;
}
.filtersContainer button {
  grid-column: 1/-1;
  margin:1rem auto;
}
.maritalStatusFilters .labelRadio ,
.ageFilters .labelRadio ,
.employeeStatusFilters .labelRadio ,
.genderFilters .labelRadio,
.sorters .labelRadio{
  grid-template-columns: 1fr;
}
.maritalStatusFilters {
  grid-column: 1/-1;
}
.maritalStatusFilters .labelRadio{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
label[for=abolition_of_registered_partnership]{
  grid-column: 2/-1;
}
.maritalStatusFilters .labelRadio label,
.ageFilters .labelRadio label,
.employeeStatusFilters .labelRadio label,
.genderFilters .labelRadio label{
  border: none;
  width:auto;
  margin:.1rem 0;
  background:none;
  color:#022B3A;
  text-align: left;
  box-shadow: none;
  }
.maritalStatusFilters .labelRadio label:hover,
.ageFilters .labelRadio label:hover,
.employeeStatusFilters .labelRadio label:hover,
.genderFilters .labelRadio label:hover,
.ageFilters input[type="checkbox"]:checked+label,
.maritalStatusFilters input[type="checkbox"]:checked+label,
.employeeStatusFilters input[type="checkbox"]:checked+label,
.genderFilters input[type="checkbox"]:checked+label{
  font-weight: bold;
}

.filters{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sorters label {
  margin:1rem;
}
.filterBtn{
  margin: 1rem auto;
  text-transform: uppercase;
  border:none;
  display: block;
  background:none;
  box-shadow: none;
  color: #E15554;
}






.userContainer{
padding: 0;
margin:auto auto 3rem;
max-width: 700px;
border:1px solid #d8dbe2ba;
border-radius: 10px;
box-shadow: 4px 6px 15px rgba(0,0,0,.3);
}
.userContainer h2{
  padding:1rem
}
.user{
  padding:0 1rem 1rem 1rem;
}
.user p{
  margin-top:.1rem;
}
.user h3{
  margin-bottom: .1rem;
}
.editContainer{
  padding:1rem;
  display:none;
}
.tabs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tabs button{
  width: 100%;
  box-shadow: none;
  color:#E15554;
  margin:0;
  border-radius: 0 10px 0 0;
  background: transparent;
  text-transform: uppercase;
  border:none;
  border-bottom: 1px solid #d8dbe2ba;
}
.tabs button:nth-child(1){
  border-radius: 10px 0 0 0;
  border-bottom: none;
  border-right:1px solid #d8dbe2ba;
}


/*********  NOTIFICATION  **************/

.notification{
  position: fixed;
  left: 0;
  right: 0;
  top: -10vh;
  background: white;
  text-align: center;
  margin: auto;
  width: 80%;
  text-transform: capitalize;
  animation: show .1s forwards;
  transition: all .2s;
  margin:auto;
}
.close{
  position: absolute;
  top:1rem;
  right:1rem;
  font-weight: bold;
  cursor: pointer;
}
.notification.success{
  background:#9ED8DB;
}
.notification.error{
  background:#EBB3A9;
}
@keyframes show{
  to{
    transform: translateY(10vh);
  }
}




/************** INFO ICON IN MENU *************/
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip svg{
  fill:white;
  width:20px;
}
.tooltip .tooltiptext {
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  visibility: hidden;
  position: absolute;
  width: 200px;
  background-color: #1f7a8c;
  z-index: 1;
  top: 19px;
  right: 91%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}