.container {
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.singleUser {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap:.1rem;
  border-bottom: 1px solid grey;
}
.singleUser p{
  text-transform: capitalize;
}

main{
  margin:0 10vw;
}
header{
margin:0 2rem;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
}
.menu-right{
  justify-self: right;
}
.menu-right a{
  color: black;
  text-decoration: none;
  padding: 0 2rem;
}
.menu-right:last-child{
  padding-right: 0;
}

form{
  width: 400px;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr;
}
label{
  display:grid;
  grid-template-columns: 1fr;
  margin: .5rem;
}
.labelRadio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.labelRadio label{
  padding:10px;
  border-radius: 10px;
  border:1px solid lightgray;
  cursor: pointer;
  text-align: center;
  margin: 1rem;
}
.labelRadio input{
  display: none;
}
input[type="radio"]:checked+label{
  border:4px solid lightgray;
}
input, select{
  padding:10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none;
}
button{
  padding:.5rem 1rem;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: auto;
}

a.active{
  text-decoration: underline;
}