*{
  box-sizing: border-box;
}

h2{
  text-align: center;
}
h1,h2,h3{
  font-style: italic;
}

.loader{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: right;
  width: 100vw;
  height:100%;
  background:white;
  display:grid;
  align-content: center;
  justify-content: center;
}

a.active{
  font-weight: bold;
}

button, .button, .labelRadio label{
  border-radius: 10px;
  padding:.5rem 2rem;
  color:white;
  text-decoration: none;
  background:#5D576B;
  text-align: center;
  margin:auto;
}


button:focus{
  outline: none;
}


