
html, body{
    height:100%;
    margin:0;
}
.testpage{
    display:grid;
    margin:0 5rem;
    grid-gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.error{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    background:white;
    text-align: center;
    display: grid;
    align-items: center;
    margin:0;
}
a{
    text-decoration: none;
    color:black;
    padding:1rem 2rem;
    width: 20vw; 
    border-radius: 15px;
    background:#f2f2f2;
    text-align: center;
    border: 1px solid grey;
}
a:visited{
    color:black;
}