.menu{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding:1rem 2rem;
    background:#3b7ab6;
    .linkContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: right;
        align-items: center;
    }
    a{
        text-decoration: none;
        color:white;
    }
    .active{
        text-decoration: underline;
    }
    button{
        width:20px;
        height:20px;
        background:none;
        color :white;
        border-radius: 50%;
        border: 1px solid white;
        padding:0;
        min-width: 0;
        line-height: initial;
        justify-self: center;
    }
}