RewriteEngine On # Turn on the rewriting engine
RewriteRule ^users/?$ api.php [NC,L]
RewriteRule ^users/([0-9]+)/([^/]+) api.php?id=$1&relation=$2 [NC,L]
RewriteRule ^users/([0-9]+)/?$ api.php?id=$1 [NC,L]

