
.usersContainer{
    margin: 2rem 5rem;
    .singleUser{
        display: grid;
        grid-template-columns: 1fr .5fr .5fr .5fr .5fr .5fr .5fr;
        border-bottom: 1px solid lightgrey;
        p, h3{
            text-transform: capitalize;
        }
    }
}