
<div class="topContainer">

<div class="form-group searchBar">
    <mat-form-field class="example-full-width">
    <mat-label>Search by name</mat-label>
    <input
        matInput
        placeholder="Search by name"
        class="form-control"
        id="search-text"
        aria-describedby="search-text"
        [formControl]="searchText"
        autofocus
    />
    </mat-form-field>
</div>

    
    <mat-expansion-panel hideToggle #thisPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ !thisPanel.expanded ? 'SHOW FILTERS' : 'HIDE FILTERS' }}
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="filtersAndSorters">
            <div class="filters">
                <div class="">
                  <h3>Age</h3>

                    <mat-button-toggle-group
                      name="isChild"
                      aria-label="isChild"
                      [formControl]="isChild"
                    >
                      <mat-button-toggle value="child" (click)="showChildren()"
                        >Child</mat-button-toggle
                      >
                      <mat-button-toggle value="adult" (click)="showAdults()"
                        >Adult</mat-button-toggle
                      >
                      <mat-button-toggle value="all" (click)="showAll('child')"
                        >All</mat-button-toggle
                      >
                    </mat-button-toggle-group>
                  </div>
                  <div class="">
                    <h3>Gender</h3>

                    <mat-button-toggle-group
                      name="gender"
                      aria-label="gender"
                      [formControl]="gender"
                    >
                      <mat-button-toggle value="female" (click)="showFemale()"
                        >Female</mat-button-toggle
                      >
                      <mat-button-toggle value="male" (click)="showMale()"
                        >Male</mat-button-toggle
                      >
                      <mat-button-toggle value="all" (click)="showAll('gender') "
                        >All</mat-button-toggle
                      >
                    </mat-button-toggle-group>
                  </div>
                  <div class="">
                    <h3>Employee Status</h3>
                    <mat-button-toggle-group
                      name="isCompany"
                      aria-label="isCompany"
                      [formControl]="isCompany"
                    >
                      <mat-button-toggle value="company" (click)="showCompany()"
                        >Employee</mat-button-toggle
                      >
                      <mat-button-toggle value="notCompany" (click)="showNotCompany()"
                        >Not Employee</mat-button-toggle
                      >
                      <mat-button-toggle value="all" (click)='showAll("company")'
                        >All</mat-button-toggle
                      >
                    </mat-button-toggle-group>
                  </div>

                <button mat-raised-button class="" (click)="resetFilters()">Reset filters</button>

            </div>
            <div class="sorters">
                <h3>Sort By</h3>
                <div class="sorterTitle">
                    <button id="sortByName" [ngClass]="{'clicked': sorters.sortByName }"  mat-raised-button (click)="sortUsers('sortByName')">Name </button>
                </div>
                       
                <div class="sorterTitle">
                    <button id="sortByAge" [ngClass]="{'clicked': sorters.sortByAge }" mat-raised-button (click)="sortUsers('sortByAge')">Age </button>
                </div>
            </div>
        </div>

      </mat-expansion-panel>       
        

</div>


<div class="usersContainer" >
    <div class="singleUser" *ngFor='let user of sortedUsers'>
        <h3>{{user.name}}</h3>
        <p>{{user.isChild?"Child":"Adult"}}</p>
        <p>{{user.gender}}</p>
        <p *ngIf='user.isEmployee'>Employee</p>
        <p *ngIf='!user.isEmployee'></p>
        <p>{{user.maritalStatus}}</p>
        
        <a mat-raised-button color="primary" routerLink="/edit/{{ user._id}}">Edit</a>
        <a mat-raised-button color="primary" href="http://localhost:80/fakeid/testpage/user.html?mean={{user._id}}">Login</a>
    </div>

</div>