
<div class="topContainer">

<div class="form-group searchBar">
    <mat-form-field class="example-full-width">
    <mat-label>Search by name</mat-label>
    <input
        matInput
        placeholder="Search by name"
        class="form-control"
        id="search-text"
        aria-describedby="search-text"
        [formControl]="searchText"
        autofocus
    />
    </mat-form-field>
</div>

    
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            SHOW FILTERS
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="filtersAndSorters">
            <div class="filters">
                <h3>Filters go here</h3>
            </div>
            <div class="sorters">
                <h3>Sort By</h3>
                <div class="sorterTitle">
                    <button id="sortByName" mat-raised-button (click)="sortUsers('sortByName')">Name </button>
                </div>
                       
                <div class="sorterTitle">
                    <button id="sortByAge" mat-raised-button (click)="sortUsers('sortByAge')">Age </button>
                </div>
            </div>
        </div>

      </mat-expansion-panel>       
        

</div>


<div class="usersContainer" >
    <div class="singleUser" *ngFor='let user of sortedUsers'>
        <h3>{{user.name}}</h3>
        <p>{{user.isChild?"Child":"Adult"}}</p>
        <p>{{user.gender}}</p>
        <p *ngIf='user.isEmployee'>Employee</p>
        <p *ngIf='!user.isEmployee'></p>
        <p>{{user.maritalStatus}}</p>
        
        <a mat-raised-button color="primary" routerLink="/edit/{{ user._id}}">Edit</a>
        <a mat-raised-button color="primary">Login</a>
    </div>

</div>