

.topContainer{
    margin:2rem 5rem;
   
    .filtersAndSorters{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .sorterTitle{
        cursor: pointer;
        button{
            width:100%;
            margin:.5rem 1rem;
            color: white;
            background-color: #258191;
        }
    }
    .mat-expansion-panel-header-title{
        margin:auto;
        flex-grow: 0;
    }
}