@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 0 15%;
  background-color: white;
  height: 100%;
}

.pageHeader {
  margin-bottom: 40px;
  background-color: #6f6f6f;
  color: white;
  position: relative;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  // padding-left: 1rem;
  & p {
    margin-bottom: 0;
  }
}

input.mat-input-element {
  height: 30px;
}

/*.mat-form-field-wrapper{
    outline:none !important
}*/

.formItem {
  display: grid;
}
.viewContainer,
.editContainer {
  display: grid;
  margin: 1rem auto 5rem;
}

.viewContainer {
  > button {
    margin: 0 0 1rem;
    background: #255b91;
    color: white;
    padding: 0 2rem;
    justify-self: right;
  }
}

.bgImage {
  height: 100%;
}

.editContainer {
  & input {
    padding: 10px 0;
    padding: 0.75em 0.75em 0 0.75em;
  }

  & .titleStrong {
    padding: 0.75em 0.75em 0 0.75em;
  }

  & mat-select {
    margin: 10px 0;
  }

  & .btncontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & button {
      width: auto;
      justify-self: end;
      background: lighten(#255b91, 25%);
      color: white;
      padding: 0 2rem;
    }

    & button:nth-child(1) {
      // background-color: dimgrey;
      background: #255b91;
      justify-self: start;
    }
  }
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.tableTop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & span {
    padding: 1.5em;
    border-right: 1px solid #dee2e6;
  }
}

.shortTableGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #dee2e6;

  & span {
    border-right: 1px solid #dee2e6;
    padding: 1.5em;
  }
}

a {
  text-decoration: none;
  color: black;
}
