.filterContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.maritalStatusFilters .labelRadio label,
.ageFilters .labelRadio label,
.employeeStatusFilters .labelRadio label,
.genderFilters .labelRadio label{
  border: none;
  width:auto;
  margin:.1rem 0;
  background:none;
  color:#022B3A;
  text-align: left;
  box-shadow: none;

}

.maritalStatusFilters .labelRadio ,
.ageFilters .labelRadio ,
.employeeStatusFilters .labelRadio ,
.genderFilters .labelRadio,
.sorters .labelRadio{
  grid-template-columns: 1fr;
}
.maritalStatusFilters {
  grid-column: 1/-1;
}
.maritalStatusFilters .labelRadio{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
label[for=abolition_of_registered_partnership]{
  grid-column: 2/-1;
}

.filtersContainer h3{
    margin-bottom: 0;
  }

.maritalStatusFilters .labelRadio label:hover,
.ageFilters .labelRadio label:hover,
.employeeStatusFilters .labelRadio label:hover,
.genderFilters .labelRadio label:hover,
.ageFilters input[type="checkbox"]:checked+label,
.maritalStatusFilters input[type="checkbox"]:checked+label,
.employeeStatusFilters input[type="checkbox"]:checked+label,
.genderFilters input[type="checkbox"]:checked+label{
  font-weight: bold;

}