form{
    width: 400px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr;
  }
  .formField{
    display: grid;
    grid-template-columns: 1fr;
    margin: .5rem;
  }
  .formField label{
    visibility: hidden;
    transform: translateY(-35px);
    transition: all .1s;
    padding-left: 8px;
  }
  .formField input:not(:placeholder-shown) + label,
  .formField select:not(:invalid) + label
  {
    transform: translateY(0);
    visibility: visible;
  }
  input[type=submit]{
    background:#E15554;
    box-shadow: 1px 5px 10px rgba(0,0,0,.3);
    color:white;
    border:none;
    margin:1rem;
  }
  select:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  .labelRadio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0.5rem 0;
  }
  .labelRadio p{
      grid-column: 1/-1;
      margin: 0;
      padding-left:10px;
  }
  .labelRadio label{
    padding:10px;
    border-radius: 10px;
    border: none;
    color: white;
    background:rebeccapurple;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
  }
  .labelRadio input{
    display: none;
  }
  input:checked+label{
    background:#185d6b;
    transform: scale(1.05);
  }
  input, select{
    padding:10px;
    border-radius: 10px;
    border: 1px solid #d8dbe2ba;
    outline: none;
    transition: all .2s;
  }